.bulb {
    font-weight:bold;
    border-radius: 30px; 
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.off_bulb {
    background-color: lightgrey;
    border: 2px solid darkgrey;
    color: darkgrey;
}

.on_bulb {
    background-color:yellow;
    border: 2px solid orange;
    color: orange;
}

.bulb-box {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
